body {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}


#canvas {
  border: 1px solid black;
  background: rgb(13, 0, 227);
  background: -moz-linear-gradient(
    0deg,
    rgba(13, 0, 227, 1) 0%,
    rgba(45, 110, 173, 1) 14%,
    rgba(228, 250, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(13, 0, 227, 1) 0%,
    rgba(45, 110, 173, 1) 14%,
    rgba(228, 250, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(13, 0, 227, 1) 0%,
    rgba(45, 110, 173, 1) 14%,
    rgba(228, 250, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#0d00e3",
    endColorstr="#e4faff",
    GradientType=1
  );
  box-sizing: border-box;
}

.top-left-button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  margin: 50px;
  font-size: 16px;
  background-color: green;
  color: white;
  font-family: Arial, sans-serif;
  font-style: italic;
  box-sizing: border-box;
}

.top-left-button:hover {
  background-color: red;
}

.top-left-button:active {
  background-color: blue;
}